@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
	--color-card-bg: #292929;
}

.pixelated {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

.play-font {
	font-family: "Play", sans-serif;
}

main {
	height: fit-content;
	width: 100vw;
	height: auto;
}
