@import "tailwindcss";

@theme {
	--color-card-bg: #292929;
	--text-shadow-main: 1px 1px 0 #837B73;
}

.pixelated {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

.play-font {
	font-family: "Play", sans-serif;
}

main {
	height: fit-content;
	width: 100vw;
	height: auto;
}